<p id="notice"><%= notice %></p>

<h1>Blog using ruby on rails</h1>



  <tbody>
    <% @blog2s.each do |blog2| %>
      <tr>
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Article  by <%= blog2.author %></strong>
            <h3 class="mb-0"><%= blog2.title %></h3>
            <p class="card-text mb-auto"><%= blog2.content.truncate(400) %></p>
            <div class="my-2">
            <td><%= link_to 'Show', blog2 %></td>
            <td><%= link_to 'Edit', edit_blog2_path(blog2) %></td>
            <td><%= link_to 'Destroy', blog2, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</div>
</div>
</div>

<%= link_to 'New Blog', new_blog2_path %>
